<%- include('partials/header')%>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 style="text-align:center">BREAD(Browse, Read, Edit, Add, Delete)</h1>
                <h2>Filters</h2>
            </div>
            <div class="card-body">
               
                <br>
                <hr>
                <table id="sortTable" class="table table-striped" style="text-align:center;">
                    <tbody>
                        <% data.forEach((item, index)=> { %>
                            <tr>
                                <td>
                                    <%= index %>
                                </td>
                                <td>
                                    <%= item.string %>
                                </td>
                                <td>
                                    <%= item.integer %>
                                </td>
                                <td>
                                    <%= item.float %>
                                </td>
                                <td>
                                    <%= item.date %>
                                </td>
                                <td>
                                    <%= item.boolean %>
                                </td>
                                <td>
                                    <a href="/edit/<%= item.id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <%- include('partials/footer')%>